<!--Top Nav-->
<nav id="topNav" class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a name="home" class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a name="themes" class="nav-link" href="/themes">Themes<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a name="build" class="nav-link disabled" href="/build" tabindex="-1" aria-disabled="true">Build a
                    Theme</a>
            </li>
        </ul>
    </div>
</nav>
<!--Side-Nav-->
<div class="sidenav">
    <nav class="navbar navbar-dark bg-black">
        <form class="form-inline md-form form-sm">
            <input class="form-control form-control-sm mr-3 w-80" type="text" placeholder="Search" aria-label="Search"
                style="margin-bottom: 20px">
        </form>
    </nav>

    <button class="dropdown-btn">Themes
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a href="#">Almost Famous</a>
        <a href="#">Alice in Wonderland</a>
        <a href="#">Sex and the City</a>
        <a href="#">Fright Fest</a>
        <a href="#">Cinco de Drinko</a>
        <a href="#">Winter Wonderland</a>
        <a href="#">Prohibition</a>
        <a href="#">A Night in Paris</a>
        <a href="#">Impeachment Party</a>
        <a href="#">Redneck Yacht Club</a>
    </div>
</div>
<!-- MAIN CONTENT -->
<div class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="d-inline col-12 pl-5 pt-3">
                <h1 style="font-family: 'Sofia', cursive; font-size: 40pt; text-align: center;" class="text-dark">
                    Starter Themes</h1>

                <!-- COLLAPSE CARD -->
                <div class="accordion" id="accordionExample">
                    <!-- START THEME-->
                    {{#each themes}}
                    <div class="card">
                        <div class="card-header" id="heading{{this.id}}">
                            <h2 class="mb-0">
                                <button class="btn btn-link text-dark"
                                    style="font-family: 'Sofia', cursive; font-size: 24pt;" type="button"
                                    data-toggle="collapse" data-target="#collapse{{this.id}}" aria-expanded="true"
                                    aria-controls="collapse{{this.id}}">{{this.name}}</button>
                            </h2>
                        </div>
                        <div id="collapse{{this.id}}" class="collapse show" aria-labelledby="heading{{this.id}}"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="card">
                                    <div class="card-header">
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link text-dark active" id="home{{this.id}}-tab"
                                                    data-toggle="tab" href="#home{{this.id}}" role="tab"
                                                    aria-controls="home{{this.id}}" aria-selected="true">Theme</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" id="profile{{this.id}}-tab"
                                                    data-toggle="tab" href="#profile{{this.id}}" role="tab"
                                                    aria-controls="profile{{this.id}}" aria-selected="false">Food</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" id="messages{{this.id}}-tab"
                                                    data-toggle="tab" href="#messages{{this.id}}" role="tab"
                                                    aria-controls="messages{{this.id}}" aria-selected="false">Drinks</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <!-- THEME TAB -->
                                            <div class="tab-pane active" id="home{{this.id}}" role="tabpanel"
                                                aria-labelledby="home{{this.id}}-tab">
                                                <div class="jumbotron jumbotron-fluid">
                                                    <div class="container">
                                                        <h1 class="display-4">{{this.name}}</h1>
                                                        <p class="lead">{{this.description}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- FOOD TAB -->
                                            <div class="tab-pane" id="profile{{this.id}}" role="tabpanel"
                                                aria-labelledby="profile{{this.id}}-tab">
                                                <div class="card-columns">
                                                    {{#each foodDrinks}}
                                                    {{#if isMeal}}
                                                    <div class="card">
                                                        <img src="{{this.imageURL}}" class="card-img-top" alt="Oops. Looks like you're on a diet. Be happy and eat your lettuce">
                                                    </div>
                                                    {{/if}}
                                                    {{/each}}
                                                </div>
                                            </div>
                                            <!-- DRINKS TAB -->
                                            <div class="tab-pane" id="messages{{this.id}}" role="tabpanel"
                                                aria-labelledby="messages{{this.id}}-tab">
                                                <div class="card-columns">
                                                    {{#each foodDrinks}}
                                                    {{#unless isMeal}}
                                                    <div class="card">
                                                        <img src="{{this.imageURL}}" class="card-img-top"
                                                            alt="Oops. Looks like you're on a diet. Be happy and eat your lettuce">
                                                    </div>
                                                    {{/unless}}
                                                    {{/each}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    <!-- START NEXT THEME -->
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/themes.js"></script>
